body {
    margin: 0;
    overflow: hidden;
}

.scroll-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.scroll-content {
    position: absolute;
    width: 200%; /* Double the container width for seamless scrolling */
    height: 100%;
    background-image: url('Beige\ Abstract\ Shapes\ Desktop\ Wallpaper_20241204_014052_0000.png');
    background-repeat: repeat-x; /* Repeat the image horizontally */
    animation: scroll-left 10s linear infinite;
}
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
